{% include 'base.html' %}

<div class="container w-50">
    <div class="card mt-4">
        <div class="card-header">
            Reset Password
        </div>
        <div class="card-body p-5">
            <form method="post">
                {% csrf_token %}
                <!-- New Password1 input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example1">New Password</label>
                    <input type="password" id="form2Example1" class="form-control" name="new_password1"/>
                </div>

                <!-- New Password2 input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example2">New Password Confirmation</label>
                    <input type="password" id="form2Example2" class="form-control" name="new_password2"/>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Reset Password</button>

            </form>
        </div>
    </div>
</div>