{% include 'base.html' %}

<div class="container w-50">
    <div class="card mt-4">
        <div class="card-header">
            Change Password
        </div>
        <div class="card-body p-5">
            <form method="post">
                {% csrf_token %}
                <!-- Old Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example1">Old Password</label>
                    <input type="password" id="form2Example1" class="form-control" name="old_password" required/>
                </div>

                <!-- New Password1 input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example2">New Password</label>
                    <input type="password" id="form2Example2" class="form-control" name="new_password1" required/>
                </div>

                <!-- New Password2 input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example2">New Password Confirmation</label>
                    <input type="password" id="form2Example2" class="form-control" name="new_password2" required/>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Sign in</button>

            </form>
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            <li>{{ errors|join:", " }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
</div>

