{% include 'base.html' %}

<div class="container w-50">
    <div class="card mt-4">
        <div class="card-header">
            Reset Password
        </div>
        <div class="card-body p-5">
              <label>Enter your email to receive a password reset link:</label><br><br>

            <form method="post">
                {% csrf_token %}
                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example1">Email</label>
                    <input type="email" id="form2Example1" class="form-control" name="email"/>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Reset Password</button>

            </form>
        </div>
    </div>
</div>