{% include 'base.html' %}
<style>
    .custom-div {
        background-color: white;
        transition: background-color 0.25s;
        border-radius: 5px;
    }

    .gray {
        background-color: gray;
    }
</style>

<div class="container-fluid" style="padding: 2% 5% 2% 5%">
    <div class="row">
        {% for note in notes %}
            <div class="col-lg-4 col-md-6 col-sm-12 p-1 custom-div" onmouseenter="changeColor(this)" onmouseleave="changeColor(this)" onclick="window.location= '{% url "note_detail" note.id %}'">
                <div class="card">
                    <div style="display: flex; flex: 1 1 auto;align-items: center ">
                        <div style="width: 64px; height: 64px; justify-content: center"
                             class="img-square-wrapper d-flex align-items-center">
                            <img class="img-thumbnail" style="max-width: 64px; max-height: 64px; margin-left: 30%" src="{{ note.thumbnail.url }}"
                                 alt="{{ note.title }} ">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ note.title }}</h5>
                            <p class="card-text">{{ note.body|truncatechars:35 }}</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated {{ note.updated_at | timesince }} ago</small>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
        function changeColor(element) {
            element.classList.toggle('gray');
        }
    </script>